[submodule "lib_AnySerial"]
	path = libraries/AnySerial
	url = git@github.com:synfinatic/AnySerial.git
[submodule "lib_Flash"]
	path = libraries/Flash
	url = git@github.com:synfinatic/Flash.git
[submodule "lib_WiFi_Shield"]
	path = libraries/WiFi_Shield
	url = git@github.com:synfinatic/WiFi_Shield.git
